#**PYTHON LAB FILE**

Sap Id: 590025695

Name: KARMANYA MALETHA

Batch: 11

Course: BTech CSE

##Experiment-1
(LAB-1)

**Q2) Create a variable to store your age and print its type using type().**

In [ ]:
age = 18
print(type(age))

<class 'bool'>

**Q3) Declare a string variable called x and assign it the value “Hello”.Print out the value of x**

In [ ]:
x = "Hello"
print(x)

Hello

**Q4) Take different data types and print values using print function.**

In [ ]:
a=10
b=2.5
c="Python"
d=True
e=1+3j

print(f"Integer value:{a}")
print(f"Float value:{b}")
print(f"String value:{c}")
print(f"Boolean value:{d}")
print(f"Complex value:{e}")

Integer value:10
Float value:2.5
String value:Python
Boolean value:True
Complex value:(1+3j)

**Q5) Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign
a value of 7 to y, perform addition, multiplication, division andsubtraction on
these two variables and Print out the result**

In [ ]:
x=9
y=7
sum = x+y
diff = x-y
product = x*y
div = x/y
rem = x%y
print(f"Sum={sum}\nDifference={diff}\nProduct={product}\nQuotient={div:.2f}\nRemainder={rem}")

Sum=16
Difference=2
Product=63
Quotient=1.29
Remainder=2

**Q6) Write a program to compute the length of the hypotenuse (c) of a right triangle
using Pythagoras theorem.**

In [ ]:
import math
p=int(input("Enter Side1:"))
b=int(input("Enter Side2:"))
sq = math.sqrt(p**2+b**2)
print(f"Length of Hypotenuse is = {sq:.2f}")

Enter Side1:3
Enter Side2:4
Length of Hypotenuse is = 5.0

**Q7) Write a program to find simple interest.**

In [ ]:
p = int(input("Enter principle:"))
r = float(input("Enter Rate:"))
t = float(input("Enter Time:"))

SI = p*r*t/100
print(f"Simple Interest = {SI:.2f}")

Enter principle:100000
Enter Rate:2.5
Enter Time:2
Simple Interest = 5000.00

**Q8) Write a program to find area of triangle when length of sides are given.**

In [10]:
import math
a=int(input("Enter Side1:"))
b=int(input("Enter Side2:"))
c=int(input("Enter Side3:"))
s = (a+b+c)/2
Area = math.sqrt(s*(s-a) * (s-b) * (s-c))
print(f"Area of triangle = {Area:.2f}")

Enter Side1:5
Enter Side2:6
Enter Side3:8
Area of triangle = 14.98

**Q9) Write a program to convert given seconds into hours, minutes and remaining
seconds.**

In [ ]:
s = int(input("Enter Seconds:"))
hrs = s//3600
rem_sec = s%3600
minutes = rem_sec//60
rem_sec = s%60

print(f"Hours:Minutes:Seconds = {hrs}:{minutes}:{rem_sec}")

Enter Seconds:3600
Hours:Minutes:Seconds = 1:0:0

**Q10) Write a program to swap two numbers without taking additional variable.**

In [ ]:
a=10
b=5
print(f"Before swap:{a,b}")
a,b = b,a
print(f"After swap:{a,b}")

Before swap:(10, 5)
After swap:(5, 10)

**Q11) Write a program to find sum of first n natural numbers.**

In [ ]:
n = int(input("Enter a number:"))
sum = n*((n+1)/2)
print(f"Sum of first {n} natural numbers = {sum}")

Enter a number:5
Sum of first 5 natural numbers = 15.0

**Q12) Write a program to print truth table for bitwise operators (&, | and ^ operators)**

In [ ]:

print(f"{'A':>3} {'B':>3} {'A&B':>5} {'A|B':>5} {'A^B':>5} {'A NAND B':>8} {'A NOR B':>8}\n")

for i in [0,1]:
    for j in [0,1]:
        print(f"{i:>3} {j:>3} {i & j:>5} {i | j:>5} {i^j :>5} {not(i & j):>8} {not(i | j ):>8}\n")

  A   B   A&B   A|B   A^B A NAND B  A NOR B

  0   0     0     0     0        1        1

  0   1     0     1     1        1        0

  1   0     0     1     1        1        0

  1   1     1     1     0        0        0


**Q13) Write a program to find left shift and right shift values of a given number.**

In [1]:
n= int(input("Enter a number:"))
s= int(input("Enter bytes to shift:"))

print("LEFT SHIFT:",n*2**s)
print("RIGHT SHIFT:",int(n/(2**s)))

Enter a number:24
Enter bytes to shift:3
LEFT SHIFT: 192
RIGHT SHIFT: 3

**Q14) Using membership operator find whether a given number is in sequence
(10,20,56,78,89)**

In [8]:
x = (10,20,30,56,78,89)
n = int(input("Enter a number:"))
if n in x:
  print(f"{n} is present in the sequence")
else:
  print(f"{n} is not present in the sequence")

Enter a number:89
89 is present in the sequence