**PYTHON FILE**

Sap Id: 590025695
Name: KARMANYA MALETHA
Batch:11

#LAB-1

##Experiment-1

**Q2) Create a variable to store your age and print its type using type().**

In [ ]:
age = 18
print(type(age))

<class 'bool'>

**Q3) Declare a string variable called x and assign it the value “Hello”.Print out the value of x**

In [ ]:
x = "Hello"
print(x)

Hello

**Q4) Take different data types and print values using print function.**

In [ ]:
a=10
b=2.5
c="Python"
d=True
e=1+3j

print(f"Integer value:{a}")
print(f"Float value:{b}")
print(f"String value:{c}")
print(f"Boolean value:{d}")
print(f"Complex value:{e}")

Integer value:10
Float value:2.5
String value:Python
Boolean value:True
Complex value:(1+3j)

**Q5) Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign
a value of 7 to y, perform addition, multiplication, division andsubtraction on
these two variables and Print out the result**

In [ ]:
x=9
y=7
sum = x+y
diff = x-y
product = x*y
div = x/y
rem = x%y
print(f"Sum={sum}\nDifference={diff}\nProduct={product}\nQuotient={div:.2f}\nRemainder={rem}")

Sum=16
Difference=2
Product=63
Quotient=1.29
Remainder=2

**Q6) Write a program to computethe length of the hypotenuse (c) of a right triangle
using Pythagoras theorem.**

In [ ]:
import math
p=int(input("Enter Side1:"))
b=int(input("Enter Side2:"))
sq = math.sqrt(p**2+b**2)
print(f"Length of Hypotenuse is = {sq:.2f}")

Enter Side1:3
Enter Side2:4
Length of Hypotenuse is = 5.0

**Q7) Write a program to find simple interest.**

In [ ]:
p = int(input("Enter principle:"))
r = float(input("Enter Rate:"))
t = float(input("Enter Time:"))

SI = p*r*t/100
print(f"Simple Interest = {SI:.2f}")

Enter principle:100000
Enter Rate:2.5
Enter Time:2
Simple Interest = 5000.00

**Q8) Write a program to find area of triangle when length of sides are given.**

In [ ]:
import math
a=int(input("Enter Side1:"))
b=int(input("Enter Side2:"))
c=int(input("Enter Side3:"))
s = a+b+c/2
Area = math.sqrt(s*(s-a) + s*(s-b) + s*(s-c))
print(f"Area of triangle = {Area:.2f}")

Enter Side1:5
Enter Side2:6
Enter Side3:8
Area of triangle = 19.75

**9) Write a program to convert given seconds into hours, minutes and remaining
seconds.**

In [ ]:
s = int(input("Enter Seconds:"))
hrs = s//3600
rem_sec = s%3600
minutes = rem_sec//60
rem_sec = s%60

print(f"Hours:Minutes:Seconds = {hrs}:{minutes}:{rem_sec}")

Enter Seconds:3600
Hours:Minutes:Seconds = 1:0:0

**10) Write a program to swap two numbers without taking additional variable.**

In [ ]:
a=10
b=5
print(f"Before swap:{a,b}")
a,b = b,a
print(f"After swap:{a,b}")

Before swap:(10, 5)
After swap:(5, 10)

**11) Write a program to find sum of first n natural numbers.**

In [ ]:
n = int(input("Enter a number:"))
sum = n*((n+1)/2)
print(f"Sum of first {n} natural numbers = {sum}")

Enter a number:5
Sum of first 5 natural numbers = 15.0

**12) Write a program to print truth table for bitwise operators (&, | and ^ operators)**

In [ ]:

print(f"{'A':>3} {'B':>3} {'A&B':>5} {'A|B':>5} {'A^B':>5} {'A NAND B':>8} {'A NOR B':>8}\n")

for i in [0,1]:
    for j in [0,1]:
        print(f"{i:>3} {j:>3} {i & j:>5} {i | j:>5} {i^j :>5} {not(i & j):>8} {not(i | j ):>8}\n")

  A   B   A&B   A|B   A^B A NAND B  A NOR B

  0   0     0     0     0        1        1

  0   1     0     1     1        1        0

  1   0     0     1     1        1        0

  1   1     1     1     0        0        0

**Q14) Using membership operator find whether a given number is in sequence
(10,20,56,78,89)**

In [ ]:
n= int(input("Enter a number:"))
s= int(input("Enter bytes to shift:"))

print("LEFT SHIFT:",n*2**s)
print("RIGHT SHIFT:",int(n/(2**s)))

Enter a number:24
Enter bytes to shift:3
LEFT SHIFT: 192
RIGHT SHIFT: 3

# LAB-2

**Q1) Check whether the given number is divisible by 3 and 5 both.**

In [ ]:
n = int(input("Enter no:"))
if n%15 == 0:
    print(f"{n} is divisible by 3 and 5")
else:
    print(f"{n} is not divisible by 3 and 5")

Enter no:60
60 is divisible by 3 and 5

**Q2) Check whether a given number is multiple of five or not.**

In [ ]:
a = int(input("Enter a number:"))
if a%5 == 0:
  print(f"{a} is a multiple of 5")
else:
  print(f"{a} is not a multiple of 52")

Enter a number:5
5 is a multiple of 5

**Q3) Find the greatest among the two numbers. If numbers are equal than print
“numbers are equal”.

In [ ]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:" ))
g = max(a,b)
if a==b:
  print("Numbers are equal")
else:
  print(f"{g} is greatest")

Enter first number:12
Enter second number:5
12 is greatest

**Q4) Find the greatest among three numbers assuming no two values are same.**

In [ ]:
a = 10
b = 5
c = 2
g = max(a,b,c)
print(f"{g} is the greatest")

10 is the greatest

**Q5) Check whether the quadratic equation has real roots or imaginary roots.
Display the roots.**

In [6]:
import math as m
b = float(input("Enter value of b:"))
a = float(input("Enter value of a:"))
c = float(input("Enter value of c:"))

D = b**2 - 4*a*c

if D > 0:
  r1 = (-b + m.sqrt(D/(2*a)))
  r2= (-b- m.sqrt(D/(2*a)))
  print("Roots are real and distinct")
  print(f"Roots are:{r1,r2}")

elif D==0:
  r1 = -b/(2*a)
  print("Roots are equal:")
  print(f"Roots are:{r1}")

else:
  real = -b/(2*a)
  comp = m.sqrt(-D/(2*a))
  print("Roots are complex")
  print(f"Roots are:{real},{comp:.2f}")

Enter value of b:1
Enter value of a:2
Enter value of c:4
Roots are complex
Roots are:-0.25,2.78

**Q6) Find whether a given year is a leap year or not.**

In [ ]:
n = int(input("Enter year"))
if n%4 == 0 and n%100 !=0:
  print(f"{n} is a leap year")
else:
  print(f"{n} is not a leap year")

Enter year2024
2024 is a leap year

**Q7) Write a program which takes any date as input and display next date of the
calendar**

In [ ]:
x = input("Enter date in DDMMYY format:")
if x[0]

**8) Print the grade sheet of a student for the given range of cgpa. Scan marks of
five subjects and calculate the percentage**